---
const context = {
  name: "Flowmark",
  markup: `<img src=x onerror="globalThis.__flowmarkXss = true">`,
};
---

<template flowmark is:raw context={context}>
  <main>
    <p id="space"><span>Hello </span>{{ ctx.name }}</p>
    <pre id="pre">first
  second</pre>
    <p id="escaped">{{ ctx.markup }}</p>
  </main>
</template>
